html, body {
    height: 100%;
    background: $bg-color;
	color: $font-color;
	font-family: $body-font;
}

h1, h2, h3 {
	@include header-font;
}

p {
	font-family: $body-font;
}

*, *:before, *:after {
    box-sizing: border-box;
}

#header {
	padding: 1em;
	
	@include breakpoint($medium) {
		display: flex;
		
		nav {
			margin-left: auto;
		}
	}
	
	h1 {
		margin-bottom: 0;
		border-bottom: 2px solid $primary-color;
	}
	
	p {
		margin-top: 5px;
		font-weight: bold;
		text-transform: lowercase;
		letter-spacing: 1px;
	}
}

button {
	color: $primary-color;
	font-family: $body-font;
    font-weight: bold;
	border-bottom: 3px solid transparent;
	padding: 0.5em;
	
	&.control-active {
		border-bottom: 3px solid $primary-color;
	}

    &:hover, &:focus {
        opacity: 0.8;
    }
}

.item-btns {
	a {
		@include header-font;
		color: $font-color;
		padding: 5px 10px;
		border: 1px solid $font-color;
		text-decoration: none;
		background-color: $bg-color;

		&:hover, &:focus {
			background-color: white;
		}
	}
}

#portfolio {
	.item {
		border-top: none;
		position: relative;
		margin: 0;
		padding: 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
		
		.item-image > img {
			width: 100%;
		}
		
		.item-info {
			h2 {
				font-size: 1.3em;
				margin: 0.3em 0;
			}
			p {
				font-size: 1em;
				line-height: 1.3em;
				margin: 0 0 1em 0;
			}
		}
		
	}
	
	&.grid {
		.item {
			overflow: hidden;
			@include grid-column(12);
			&:last-child:not(:first-child) {
				float: none;
			}
			@include breakpoint($small) {
				@include grid-column(6);
				&:last-child:not(:first-child) {
					float: none;
				}
			}
			@include breakpoint($medium) {
				@include grid-column(4);
				&:last-child:not(:first-child) {
					float: none;
				}
			}
			@include breakpoint($large) {
				@include grid-column(3);
				&:last-child:not(:first-child) {
					float: none;
				}
			}
			
			.item-image {
				opacity: 1;
			}

			.item-info {

				h2 {
					text-align: center;
				}

				opacity: 0;
				background-color: $primary-color;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0;
				padding: 1em;
				transition: 0.1s ease-in;
			}
			
			.item-btns {
				text-align: center;
			}
			
			&:hover {
				.item-image {
					opacity: 0.8;
				}

				.item-info {
					opacity: 1;
				}
			}
		}
	}
	
	&.list {
		margin: 0 1em;
		
		.item {
			width: 100%;
			background-color: $bg-color;
			margin-bottom: 2em;
			
			.item-image {
				@include grid-column(12);
				padding-left: 0 !important;
				padding-right: 0 !important;
				@include breakpoint($medium) {
					@include grid-column(4);
					padding-left: 0 !important;
				}
			}
			.item-info {
				@include grid-column(12);
				@include breakpoint($medium) {
					@include grid-column(8);
				}
			}
		}
	}
}