.container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */
.item,
.gap {
    display: inline-block;
    vertical-align: top;
}

.item {
    background: #fff;
    margin-bottom: 1rem;
    position: relative;
}

